# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
flask-mysqldb


# ----------------------
# Production Server
# ----------------------
gunicorn


